<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WinterHome</title>
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="preload" href="../css/normalize.css" as="style">
    <link rel="preload" href="../css/style.css" as="style">
    <link rel="preload" href="../css/navbar.css" as="style">
    <link rel="preload" href="../css/preguntas.css" as="style">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/preguntas.css">
    
</head>
<body>
    <header>
        <a href="../index.html" class="texto3"><h1>Winter Home</h1></a>
    </header>

    <nav id="navbar"></nav><br>

    <iframe src='https://webchat.botframework.com/embed/elcheems-bot1?s=G6J_JubyYgk.rfzdVE2Ido4fcBFEfBSNfReLK66omnF6Fz7Yfn9nZuw' style='min-width: 400px; width: 100%; min-height: 500px; border-radius: 2rem;'></iframe><br>

    

    <footer class="texto"><h2>Todos los Derechos Reservados a Winter Home</h2></footer>

    <script src="../js/navbar.js" type="module"></script>
    <script src="../js/index.js" type="module"></script>
</body>
</html>